<h1>User info</h1>
<table>
  <tr>
    <td>name</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= @user.introduction %></td>
  </tr>
</table>
<%= link_to "btn(edit profile)", edit_user_path(@user.id) %>

<h1>New book</h1>
<%= form_with model: @book, url: books_path, method: :post, local: true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :opinion %>
  <%= f.submit %>
<% end %>

<h1>Book detail</h1>
<table>
  <tbody>
    <tr>
      <td><%= link_to @user.name, user_path(@user.id) %></td>
      <td><%= link_to @bookpost.title, book_path(@bookpost.id) %></td>
      <td><%= @bookpost.opinion %></td>
      <td><%= link_to "Edit", edit_book_path(@bookpost.id) %></td>
      <td><%= link_to "Destroy", book_path(@bookpost.id), method: :delete %></td>
    </tr>
  </tbody>
</table>